<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wyyu.gitsamlpe"
    >

  <!-- 位置权限 -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <!-- 网络权限 -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- 麦克风权限 -->
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <!-- 硬盘文件读写权限 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!-- 读写权限 -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/><!-- 只读权限 -->
  <!-- 摄像头权限 -->
  <uses-permission android:name="android.permission.CAMERA"/>
  <!-- 悬浮窗显示权限 -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <!-- 日历权限 -->
  <uses-permission android:name="android.permission.READ_CALENDAR"/>
  <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
  <!-- 壁纸权限 -->
  <uses-permission android:name="android.permission.SET_WALLPAPER"/>
  <!-- 前台服务权限 -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

  <application
      android:name=".framework.application.AppController"
      android:allowBackup="true"
      android:icon="@mipmap/test_logo_grey"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/test_logo_grey"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup,GoogleAppIndexingWarning"
      >

    <activity
        android:name=".test.MainActivity"
        android:theme="@style/FullScreenTheme"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".test.function.gesture.ActivityGestureLockTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.finger.ActivityFingerLockTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.recyclerview.ActivityFastScrollTest"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateVisible|adjustNothing"
        />
    <activity
        android:name=".test.function.location.ActivityLocation"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.audio.recorder.ActivityAudioRecorder"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.file.ActivityFileListTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bigimage.ActivityImageList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bigimage.ActivityBigImage"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />


    <!-- Activity Theme 展示列表 -->
    <activity
        android:name=".test.theme.ActivityThemeList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.theme.ActivityDialogTheme"
        android:theme="@style/DialogTheme"
        />
    <activity
        android:name=".test.theme.ActivityTranslucentActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />
    <activity
        android:name=".test.theme.ActivityWallPaperTheme"
        android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
        />
    <activity
        android:name=".test.theme.ActivityPanelTheme"
        android:theme="@android:style/Theme.Panel"
        />
    <activity
        android:name=".test.theme.ActivityDisplayTheme"
        android:theme="@android:style/Theme.NoDisplay"
        />
    <activity
        android:name=".test.theme.ActivityFromBottom"
        android:theme="@style/BaseTheme"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.theme.ActivityTransparentStatus"
        android:screenOrientation="portrait"
        android:theme="@style/Base.TransparentStatusBar"
        />

    <!-- 仿微博客户端模块 -->
    <activity
        android:name=".test.pager.blog.ActivityBlogTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.text.adapter.ActivityTextAdapter"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.dialog.ActivityProgressTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bigimage.ActivityImageDetail"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bigimage.ActivityImageListFun"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bigimage.ActivityBigImageDetail"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />
    <activity
        android:name=".test.bigimage.ActivityMultiImage"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.chat.ActivityChat"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.slide.ActivitySlideTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.floatview.ActivityFloatTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.ActivityPagerTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.floatview.ActivityTypeface"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.image.matisse.ActivityLocalImage"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.number.ActivityNumber"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.volume.ActivityVolume"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.notify.ActivityNotifyTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.image.edit.ActivityEditImage"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.shot.ActivityShotScreen"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.softkeyboard.ActivitySoftKeyboard"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden|adjustResize"
        android:configChanges="orientation|screenSize|keyboardHidden"
        />
    <activity
        android:name=".test.softkeyboard.ActivityShowKeyboard"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:windowSoftInputMode="stateHidden|adjustResize"
        />
    <activity
        android:name=".test.softkeyboard.ActivitySwitchPanelTest"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden|adjustResize"
        />
    <activity
        android:name=".util.permission.ActivityCheckPermission"
        android:theme="@style/Transparent"
        />
    <activity
        android:name=".test.permission.ActivityPermissionTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.permission.ActivityCheckToast"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.fragment.ActivitySlideTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.audio.player.ActivityAudioList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.expandable.ActivityExpandableListView"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.dynamic.ActivityDynamicSize"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.broadcast.ActivityBroadcastTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.softkeyboard.ActivityCustomSwitchPanel"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.database.ActivityDataBase"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.dialog.ActivityDialogShowTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.fresco.ActivityFrescoTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.floatview.ActivityKeepLive"
        android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
        android:excludeFromRecents="true"
        android:exported="false"
        android:finishOnTaskLaunch="false"
        android:launchMode="singleInstance"
        android:process=":process"
        android:theme="@style/LiveActivity"
        />
    <activity
        android:name=".test.live.ActivityLiveTest"
        />
    <activity
        android:name=".test.live.KeepLiveActivity"
        android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
        android:excludeFromRecents="true"
        android:exported="false"
        android:finishOnTaskLaunch="false"
        android:launchMode="singleInstance"
        android:process=":process"
        android:theme="@style/LiveActivity"
        />
    <activity
        android:name=".test.skin.ActivitySkinTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.spring.ActivityAnimSpring"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.percent.ActivityPercentTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.detector.ActivityGestureDetector"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.list.ActivityMultiHolder"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.theme.ActivitySwipeRight"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.visibility.ActivitySystemUiVisibility"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.visibility.ActivityUiVisibilityTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.visibility.ActivityRealFullScreen"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.livedata.ActivityLiveDataTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bubbling.ActivityBubbling"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.theme.ActivityResultTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.image.local.ActivityLocalImageList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.nine.ActivityNinePatchTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.tangram.ActivityDefault"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.tangram.ActivityTangram"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.tangram.ActivityDefine"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.tangram.ActivityCard"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.download.ActivityDownloadTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.alarm.ActivityAlarmTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.multi.ActivityMultiListTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.multi.delegate.ActivityDelegateList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.multi.multitype.ActivityMultiTypeList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.multi.define.ActivityDefineList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.multi.custom.ActivityCustomList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.tangram.ActivityCell"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.annotion.ActivityAnnotionTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.litho.main.ActivityLithoTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.litho.simple.ActivitySimpleList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.litho.multi.ActivityLithoMulti"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.litho.custom.ActivityCustom"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.litho.define.ActivityDefineList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.litho.recycler.ActivityLithoRecycler"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.litho.common.ActivityLithoCommon"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.litho.text.ActivityLithoText"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.calendar.ActivityCalendarTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.calendar.ActivityCalendarAdd"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.text.ActivityTextTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.text.multi.ActivityTextMulti"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.text.font.ActivityTextFont"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.text.anim.ActivityTextAnim"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.canvas.figure.ActivityCanvasFigure"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.canvas.ActivityCanvasTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.canvas.text.ActivityCanvasText"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.canvas.path.ActivityCanvasPath"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerTransformTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimCube"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimCrimp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimWind"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimOver"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimScaleSide"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimScaleCenter"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimDepth"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimFade"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimPreview"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.transform.ActivityPagerAnimSimple"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.multi.waterfall.ActivityWaterfallList"
        android:screenOrientation="portrait"
        />
    <!--<activity-->
    <!--android:name=".test.image.preview.ActivityImagePreview"-->
    <!--android:screenOrientation="portrait"-->
    <!--android:theme="@style/ToolbarActivityTheme"-->
    <!--/>-->
    <activity
        android:name=".test.image.preview.ActivityImagePreview"
        android:configChanges="keyboardHidden|orientation|screenSize|locale"
        android:screenOrientation="portrait"
        android:theme="@style/MediaFullScreenApp"
        >
      <meta-data
          android:name="android.notch_support"
          android:value="true"
          />
    </activity>
    <activity
        android:name=".test.pager.complex.ActivityPagerComplexTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.text.shadow.ActivityTextShadow"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.wrap.ActivityAnimWrap"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.ActivityFunctionList"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.audio.ActivityAudioTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.card.ActivityCardTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.card.custom.ActivityCardCustom"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.card.system.ActivityCardSystem"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.ActivityAnimTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.wave.ActivityAnimWave"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.vector.ActivityAnimVector"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.frame.ActivityAnimFrame"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.lottie.ActivityAnimLottie"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.webp.ActivityAnimWebp"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.multi.ActivityAnimMulti"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.solid.ActivityAnimSolid"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.svga.ActivityAnimSvgA"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.network.ActivityNetworkTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.network.custom.ActivityNetworkCustom"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.network.retrofit.ActivityNetworkRetrofit"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bezier.ActivityBezierTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bezier.anim.ActivityBezierAnim"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bezier.wave.ActivityBezierWave"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.bezier.click.ActivityBezierClick"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.canvas.image.ActivityCanvasImage"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.wallpaper.ActivityWallpaperTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.text.gradient.ActivityTextGradient"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.snap.ActivityPagerSnapTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.text.line.ActivityTextLineDivide"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.function.grid.ActivityGridTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.canvas.xfermode.ActivityXFerModeTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.text.xfermode.ActivityTextXFerMode"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.click.ActivityLongClickTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.ultra.ActivityUltraTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.pager.banner.ActivityBannerTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.anim.interpolator.ActivityInterpolatorTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.video.ActivityVideoTest"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.video.list.ActivityVideoList"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
        />
    <activity
        android:name=".test.video.waterfall.ActivityVideoWaterfall"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
        />
    <activity
        android:name=".test.fresco.blr.ActivityFrescoBlr"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".test.fresco.cache.ActivityFrescoCache"
        android:screenOrientation="portrait"
        />
    <activity android:name=".test.algorithm.ActivityAlgorithmTest"/>
    <activity android:name=".test.algorithm.sort.ActivityAlgorithmSort"/>
    <activity android:name=".test.algorithm.tree.ActivityAlgorithmTree"/>
    <activity android:name=".test.pager.life.ActivityPagerLifeTest"/>

    <!--&lt;!&ndash; 高德地图定位服务 &ndash;&gt;-->
    <!--<meta-data-->
    <!--android:name="com.amap.api.v2.apikey"-->
    <!--android:value="8fe6dd7309f606df0b0edee404251bbc" />-->
    <!--<service android:name="com.amap.api.location.APSService" />-->

    <service
        android:name=".framework.service.TestService"
        />
    <service
        android:name=".test.floatview.FloatingService"
        />
    <service
        android:name=".test.floatview.InnerService"
        />
    <service
        android:name=".test.floatview.KeepLiveService"
        />
    <service
        android:name=".test.live.KeepLiveService"
        />
    <service
        android:name=".test.live.KeepLiveOnlyService"
        />
    <service
        android:name=".test.live.KeepLiveOnlyFloat"
        />

  </application>

</manifest>